<!--- start container -->
<div class="container-fluid">


    <div class="row">
        <div class="col-md-4">

            <div class="row" style="margin-top: 18px">
                <div class="col-sm-1 col-sm-offset-11 col-xs-2 col-xs-offset-10">
                    <span class="pull-right close-button-mine">
                        <a href="#" class="close-button-mine">&times;</a>
                    </span>
                </div>
            </div>

            <!--- start Registration -->
            <div class="registration">
                <section class="social-sign text-center">
                    <h1>lets get started!</h1>

                    <p class="regular-font" style="letter-spacing: 0.46px">Sign up with your email and phone number so we can send you status updates on your order</p>
                    <div class="signup-btn">
                        <div class="col-md-6">
                            <button class="google-facebook-button" ng-click="authenticate('facebook')"><i class="" aria-hidden="true"><img src="img/facebook.png" alt="f"></i>&nbsp;&nbsp;Sign
                                up with facebook
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="google-facebook-button" ng-click="authenticate('google')"><i class="" aria-hidden="true"><img src="img/google.png" alt="g"></i>&nbsp;&nbsp;Sign
                                up with google
                            </button>
                        </div>

                    </div>
                </section>
                <!--- Start form-section -->
                <section class="signup">
                    <form class="form-horizontal" action="#" method="post" ng-submit="registerMe()" onsubmit="return false">
                        <div class="col-md-12">
                            <div class="col-md-12 ">
                                <div class="form-group ">
                                    <div class="">
                                        <div class="input-group">
                                            <span class="input-group-addon" style="background: url('img/full-name-white.png') no-repeat center center;"></span>
                                            <input type="text" class="form-control" name="name"
                                                   placeholder="Enter your full name" id="name" ng-model="user.name"
                                                   minlength="3" required
                                                   aria-describedby="inputGroupSuccess2Status">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12 ">
                                <div class="form-group ">
                                    <div class="">
                                        <div class="input-group">
                                            <span class="input-group-addon" style="background: url('img/email-white.png') no-repeat center center;"></span>
                                            <input type="email" class="form-control" name="uname" required
                                                   placeholder="Email address" id="input-email" ng-model="user.email"
                                                   aria-describedby="inputGroupSuccess2Status">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12 ">
                                <div class="form-group ">
                                    <div class="">
                                        <div class="input-group">
                                            <span class="input-group-addon" style="background: url('img/phone-white.png') no-repeat center center;"></span>
                                            <input type="number" class="form-control" name="uname" required
                                                   min="6123456789" max="9999999999"
                                                   placeholder="Phone Number" id="input-phone" ng-model="user.phone"
                                                   aria-describedby="inputGroupSuccess2Status">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12 ">
                                <div class="form-group ">
                                    <div class="">
                                        <div class="input-group">
                                            <span class="input-group-addon password-background" style="background: rgba(239, 241, 247, 0.45) url('img/password-white.png') no-repeat center center;"></span>
                                            <input type="password" name="uphone" class="form-control password-background" required
                                                   placeholder="Password (min 6 characters)" id="input-password" ng-model="user.password"
                                                   style="background-color: rgba(239, 241, 247, 0.45)"
                                                   aria-describedby="inputGroupSuccess2Status">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <input name="submit" type="submit" class="form-control submit"
                                           value="Create your account">
                                </div>
                            </div>
                        </div>

                    </form>
                </section>
                <!--- End form-section -->
                <div class="signinop">
                    <p class="regular-font" style="text-align: center; letter-spacing: 0.46px">By creating an account, you agree to our Terms, Already have an account? <a href="#!login">Log
                        in</a></p>
                </div>

            </div>
            <!--- End registration -->
        </div>


        <div class="col-md-8">
            <div class="row">
                <div class="main-body text-center">
                    <div class="main-content">
                        <h1 class="regular-font" style="font-size: 27px">Pressed</h1>
                        <p class="regular-font" style="color: #9B9B9B;">Loren ipsum dolor sit, ammet, consectetur
                            adipiscing elit.</p>
                    </div>


                    <img src="img/sign-bg.png" class="img-responsive">

                </div>
            </div>


        </div>


    </div>
</div>