<!-- pricing premium -->

<section class="premium-area">
    <div class="container-fluid">
        <div class="row">
            <div class="premium-title">
                <h3>Welcome to pressed!</h3>
                <p class="regular-font spaced-font">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
            </div>

            <div class="premium-img">
                <img src="images/cc.png" ng-click="goToLanding2('wash-&-fold')" alt="pic">
                <img src="images/cc2.png" ng-click="goToLanding2('dry-clean')" alt="pic" style="padding-top: 40px; padding-left: 20px;">
            </div>

             <div class="premium-img" style="margin-top: 100px; position: relative;">
                <img src="images/table.png" class="premium-bottom-image" alt="pic">
                 <div class="premium-bottom-image">
                 </div>
            </div>

        </div>


    </div>
</section>

<!-- pricing premium -->

