<!--- start container -->
<div class="container-fluid" id="SignupLogin">


    <div class="row">
        <div class="col-md-4">
            <!--- start Registration -->
            <div class="registration">
                <section class="social-sign text-center">
                    <h1>welcome back!</h1>

                    <p>login to your account here.</p>
                    <div class="signup-btn">
                        <div class="col-md-6">
                            <button ng-click="authenticate('facebook')">
                                <i class="" aria-hidden="true">
                                    <img src="img/facebook.png" alt="f"></i>
                                &nbsp;&nbsp;Sign up with facebook
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button ng-click="authenticate('google')">
                                <i class="" aria-hidden="true">
                                    <img src="img/google.png" alt="g">
                                </i>&nbsp;&nbsp;Sign up with google
                            </button>
                        </div>

                    </div>
                </section>
                <!--- Start form-section -->
                <section class="signup">
                    <form class="form-horizontal" action="#" method="post" ng-submit="loginMe()" onsubmit="return false;">

                        <div class="col-md-12" ng-show="user.error">
                            <div class="alert alert-danger">
                                <strong>Validation Failed!</strong>&nbsp; @{{ user.error }}
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-12 ">
                                <div class="form-group ">
                                    <div class="">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="" aria-hidden="true"><img
                                                    src="img/email.png" alt="E"></i></span>
                                            <input type="email" class="form-control" name="email"
                                                   placeholder="Email address" id="email" ng-model="user.email"
                                                   required
                                                   aria-describedby="inputGroupSuccess2Status">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-12 ">
                                <div class="form-group ">
                                    <div class="">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="" aria-hidden="true"><img
                                                    src="img/phone.png" alt="P"></i></span>
                                            <input type="password" name="password" class="form-control" placeholder="Password"
                                                   required ng-model="user.password"
                                                   id="password" aria-describedby="inputGroupSuccess2Status">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <input name="submit" type="submit" class="form-control submit" value="Login">
                                </div>
                            </div>
                        </div>

                    </form>
                </section>
                <!--- End form-section -->
                <div class="signinop">
                    <p>Don't have an account? <a href="#!create-account">Sign up</a></p>

                </div>

            </div>
            <!--- End registration -->
        </div>


        <div class="col-md-8">
            <div class="row">
                <div class="main-body text-center">
                    <div class="main-content">
                        <h1>Pressed</h1>
                        <p>Loren ipsum dolor sit, ammet, consectetur adipiscing elit.</p>
                    </div>


                    <img src="img/sign-bg.png" class="img-responsive">

                </div>
            </div>


        </div>


    </div>
</div>

<!--- End Container -->
